@import '../../../assets/stylesheets/_variables.scss';

.sidebar {
    flex: 3;
    height: calc(106vh);
    overflow-y: scroll;
    overflow-x: hidden;
    position: sticky;
    top: 50px;
    background-color: $menuBackgroundColor;
    color: white;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f175;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #2e3236;
  }
  
  .sidebarWrapper {
    padding: 20px;
  }
  
  .sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .sidebarListItemText{
    font-size: medium;
    margin-left: 5px;
    opacity: 1;
  }
  
  .sidebarIcon {
    margin-right: 15px;
  }
  
  .sidebarButton {
    width: 75%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
  }

  .sidebarAddButton{
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: medium;
  }
  
  .sidebarHr {
    margin: 20px 0;
  }
  
  .sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .sidebarFriendImg{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
  }

@media screen and (min-width: 481px) and (max-width: 768px) {
  .sidebarListItemText {
    display: none;
  }

  .sidebarWrapper {
    padding: 15px;
  }

  .sidebarIcon {
    font-size: x-large !important;
    margin: 0;
  }

  .sidebarAddButton {
    font-size: 7px;
    overflow: hidden;
    height: 50px;
  }


}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  
  .sidebarListItemText {
    opacity: 0;
  }

  .sidebarIcon {
    font-size: xxx-large !important;
  }

  .sidebarAddButton {
    font-size: small;
    height: 60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .sidebarListItemText {
    display: none;
  }

  .sidebarWrapper {
    padding: 10px;
  }

  .sidebarIcon {
    font-size: large !important;
    margin: 0;
  }

  .sidebarAddButton {
    font-size: 0px;
    overflow: hidden;
    height: 20px;
    
  }

}