@import '../../assets/stylesheets/_variables.scss';

body {
    overflow-x:hidden !important;
}

.homeContainer{
    display: flex;
    width: 100%;

}

.theme.dark{
    background-color: $darkBgColor !important;
    color: white;
}
